@import '../../../theme/style/theme.scss';

.cat__item{
    display:flex;
    padding: 0.5rem;
    justify-content: space-around;
    &__image{
        width:40%;
    }
    &__description{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &__btn{
            background: $color-pink-2;
            color:$color-white-1;
            padding: 0.4rem;
            align-self: center;
        }
    @media only screen and (min-width: $screen-tablet){
        &__image{
            width:25%;
        }
    }
}