@import '../../utility/theme/style/theme.scss';

.home{
    display: flex;
    flex-direction: column;
    &__cat{
        display:flex;
        flex-direction: column;
    }
    &--light{
        opacity:0.2;
        overflow: hidden;
    }
}