@import '../../../../theme/style/theme.scss';
.header_cartButton{
    flex:1;
    .header_cartNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    img{
        width:30%;
        }
    }
    @media only screen and (min-width:$screen-tablet){
        flex:0.9;
    }
}