@import '../../../../theme/style/theme.scss';
.header__cartButton{
    flex:1;
    background: $color-grey-2;
    font-size:1rem;
    .header__cartNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     img{
        width:30%;
        }
    }
    @media only screen and (min-width:$screen-tablet){
        
        font-size:1.1rem;
    }
  
}