@import '../../../../theme/style/theme.scss';
.header_cartButton{
    flex:1;
    background: $color-grey-2;
    font-size:1.3em;
    .header_cartNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    
    img{
        width:30%;
        }
    }
    @media only screen and (min-width:$screen-tablet){
        
        &--stretch{
            flex:0.9;
        }   
        &--full{
            flex:1;
        }
        font-size:1.1em;
    }
  
}