@import '../../../../theme/style/theme.scss';


.home_banner_slider {
      position:sticky;
      
      button{
        padding: 0.3em;
        cursor:  pointer !important;
        .banner_ciricon{
            color: $color-grey-4;
            &-active{
                color:$color-black-1;
            }
        }
   
    }
}