@import '../../../../theme/style/theme.scss';


.home__banner__slider {
      position:sticky;
      
      button{
        padding: 0.6rem;
        background: none;
        font-size: 0.5rem;
      }
      &__ciricon{
        color: $color-grey-4;
        &--active{
            color:$color-black-1;
        }
    }
}