@import '../../../theme/style/theme.scss';

.header{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    box-shadow: 0 0 3.1vw 0 $color-grey-2;
    
    &__logo{
        padding:0.3rem;
        width:40%;
    }
    
    
    &__leftpan{
        display:flex;
        flex: 0.7;
    }
    &__rightpan{
        flex: 0.3;
        display: flex;
        flex-direction:column;
        &__nav{
            display: none;
        }

    }
    &__iconBtn{
        color: $color-pink-2;
        background: none;
    }
    &__nav{
        display:none;
    }

    @media only screen and (min-width:$screen-tablet) {
            &__iconBtn{
                display:none;
            }
            &__menu{
                display:block;
            }
            &__logo{
                width:25%;
            }
            &__leftpan{
               flex:0.8;
            }
            &__rightpan{
               flex:0.2;
               &__nav{
                font-size:0.9rem;
                justify-content: space-around;
                &--show{
                    display:flex;
                }
                &--hide{
                    display:none;
                }
               }
               
            }
            &__nav{
                display:flex;
                align-items: center;
                margin: 0 2rem;
                &__item{
                    font-size: 1.1rem;
                    padding:0.8rem;
                    &--active{
                        border-bottom:1px solid $color-black-1;
                    }
            
                }
                
            }
    
    }
    @media only screen and (min-width:$screen-laptop) {
            &__logo{
                width:20%;
            }
            &__leftpan{
                flex:0.9;
            }
            &__rightpan{
                flex:0.1;
            }
           
        }
        @media only screen and (min-width:$screen-desktop) {
            &__logo{
                width:15%;
           
        }
    }
    
}