@import '../../../theme/style/theme.scss';

.header{
    display:flex;
    flex-direction:row;
    width:100%;
    align-items: center;
    box-shadow: 0 0 3.1vw 0 $color-grey-2;
    
    &_logo{
        padding:0.5em;
        width:40%;
    }
    
    
    &_leftpan{
        display:flex;
        min-width: 0;
        align-items: center;
        flex:0.8
    }
    &_rightpan{
        flex: 0.2;
        display: flex;
        flex-direction:column;
        align-self: stretch;
        justify-content: space-between;
        &_nav{
            display: none;
        }

    }
    &_iconBtn{
        color: $color-pink-2;
        background: none;
        outline: 0;
        &:focus{
            outline: none;
        }
    }
    &_nav{
        display:none;
        margin: 0 2em;
        ul{
            margin:auto;
        }
        &_item{
            padding:0.8rem;
            display:inline-block;
            cursor:pointer;
            &:hover,&:active{
                border-bottom:1px solid $color-black-1;
            }
    
        }
    }

    @media only screen and (min-width:$screen-tablet) {
            &_iconBtn{
                display:none;
            }
            &_menu{
                display:block;
            }
            &_logo{
                width:25%;
            }
            &_leftpan{
                flex:0.85;
            }
            &_rightpan{
                flex:0.15;
                &_nav{
                   
                    justify-content: space-evenly;
                    font-size:0.9em;
                    &--show{
                        display:flex;
                    }
                    &--hide{
                        display:none;
                    }
                }
            }
            &_nav{
                display:flex;
                
            }
    
    }
    @media only screen and (min-width:$screen-laptop) {
            &_logo{
                width:20%;
            }
            &_leftpan{
                flex:0.9;
            }
            &_rightpan{
                flex:0.1;
 
            }
           
        }
    
}