@import '../../utility/theme/style/theme.scss';

.category {
    display:flex;
    flex-direction:column;
    flex: 1;
    
    &__menu{
        display:none;
        background: $color-grey-1;
        flex-direction: column;
         &__btn{
            background: none;
            padding: 0.8rem 0;
            width: 100%;
            border-bottom: solid 0.1vw #b3b3b3;
            text-align: left;
            
        }
        &__action{
        padding-left: 0.4rem;
        &--active {
            background:$color-grey-5;
            button {
                color: $color-white-1;
                }
            }
        }
    }
 
    &__dropdown{
        padding:1rem 0;
        font-size:0.8rem;
    }
    &__products{
        display:flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding: 0.3rem;
    }
    @media only screen and (min-width:$screen-tablet){
        flex-direction: row;
        &__menu {
            display:flex;
            flex: 0.3;
        }
        &__products{
            flex-direction: row;
            flex:0.7;
            padding: 0;
        }
        &__dropdown{
            display:none;
        }
    }
    @media only screen and (min-width:$screen-laptop){
        &__menu{
            flex: 0.25;
        }
        &__products{
            flex:0.75;
        }
    }
}
