@import '../../utility/theme/style/theme.scss';

.cart{
    background: $color-grey-1;
    padding-top:3.5em;
    font-weight: 600;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    &_details{
        position: relative;
        height: 100%;
    }
    &_close{
        display: none;
        position: absolute;
        font-size: x-large;
        background: none;
        right: 0;
        color:$color-white-1;
        align-self: center;
    }
    &_empty{
        margin-top: 40%;
    }
    &_font{
        padding: 0.2em;
        &--small{
            font-size: small;
        }
        &--medium{
            font-size: medium;
        }
        &--xlarge{
            font-size: x-large;
        }
        &--large{
            font-size: large;
        }
    }
    &_desc{
        background: $color-white-1;
        margin-bottom:1rem;
        padding:0.5em;
        display:flex;
        align-items: baseline;
 
    }
    &_items{
        display: flex;
        position: relative;
        flex-direction: column;
        max-height: 60%;
        overflow: scroll;
    }
    &_banner{
        display:flex;
        margin: 1rem 0.5rem;
        align-items: center;
        font-size: 1.2em;
        &_img{
            width: 35%;
            padding: 0.5em;
        }
        background-color: $color-white-1;
    }
    &_emptyDesc{
        margin-top: 30%;
    }
    &_btn{
        background: $color-pink-2;
        color:$color-white-1;
        align-self: stretch;
        display: flex;
        font-size: medium;
        justify-content: space-evenly;
        &--empty{
            height: 8%;
            width: 80%;
            position: absolute;
            margin: 1em auto;
            bottom: 0;
            left: 0;
            right: 0;
        }
        &--full{
            height: 45%;
        }
    }
    &_checkout{
        bottom:0;
        width: 100%;
        height: 15%;
        justify-content: space-evenly;
        background:$color-white-1;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        padding: 0 2em;
        font-size:small;
        
    }
    @media only screen and (min-width:$screen-laptop){
        position:absolute;
        z-index:1000;
        bottom: 0;
        height: 80vh;
        right: 10vw;
        padding-top:0;
        width:50%;
        font-size: smaller;
        &_items{
            max-height: 65%;
        }
        &_desc{
            background: $color-black-1;
            color: $color-white-1;
        }
        &_close{
            display: block;
        }
        &_font{
            padding: 0.1em;
            &--xlarge{
            font-size: large;
        }
    }
        
    }
}