@import '../../utility/theme/style/theme.scss';

.cart{
    background: $color-grey-1;
    padding-top:1.5rem;
    font-weight: 600;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    &__close{
        display: none;
        font-size: 1.4em;
        background: none;
        color:$color-white-1;
        margin-left: auto;    }
    &__desc{
        background: $color-white-1;
        padding:0.2rem;
        margin-bottom: 1rem;
        display: flex;
        span{
            font-size: 1.1rem;
            padding: 0.2rem;
        }
        h3{
            font-size: 1.4rem;
        }
    }

    &__items{
        display: flex;
        flex-direction: column;
        max-height: 48vh;
        overflow-y: scroll;
    }
    &__banner{
        display:flex;
        margin: 1rem 0.5rem;
        background-color: $color-white-1;
        &_img{
            width: 35%;
            padding: 0.5rem;
        }
        span{
            font-size: 1rem;
            align-self: center;
        }
    }
    &__btn{
        background: $color-pink-2;
        color:$color-white-1;
        padding: 0.5rem;
        margin: 1rem auto;
        &--empty{
            width: 80%;     
     
        }
        &--full{
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    &__checkout{
        background:$color-white-1;
        padding: 0 2rem;
        font-size:0.9rem;
        
    }
    @media only screen and (min-width:$screen-laptop){
        position:absolute;
        bottom: 0;
        height: 80vh;
        right: 10vw;
        padding-top:0;
        width:40%;
        &__items{
            max-height: 50vh;
        }
        &__btn{
            font-size: 1.1rem;
        }
        &__desc{
            background: $color-black-1;
            color: $color-white-1;
        }
        &__close{
            display: block;
        }
        
    }
    @media only screen and (min-width: $screen-desktop){
        width: 30%;
    }
    @media only screen and (min-height:$itab-height){
        height: 70vh;
        &__items{
            max-height: 60vh;
        }
        &__checkout{
            height: 8%;
        }
    }
}