@import '../../../theme/style/theme.scss';

.home__banner{
    padding:1em;
    margin-top: 1em;
    display:flex;
    flex-direction:column;

    &__image{
        width: 100%;
    }
    &__slider {
        position:sticky;
        button{
          padding: 0.6rem;
          background: none;
          font-size: 0.5rem;
        }
    }
    &__ciricon{
        color: $color-grey-4;
        &--active{
            color:$color-black-1;
        }
    }
    &__action {
        display: none;
        position: sticky;
        justify-content: space-between;
        margin-top: -15%;
        margin-bottom: 10%;
    }
    &__btn{
            color:$color-white-1;
            background: $color-black-transparent-2;
    }
    @media only screen and (min-width:$screen-tablet){
            &__action{
                display:flex;
            }
        }
}
