@import '../../../theme/style/theme.scss';

.home_banner{
    padding:1em;
    margin-top: 1em;
    display:flex;
    flex-direction:column;

    &_image{
        width: 100%;
    }

    &_action {
        display: none;
        position: sticky;
        justify-content: space-between;
        margin-top: -15%;
        margin-bottom: 10%;
        .home_banner_btn{
            color:$color-white-1;
            background: $color-black-transparent-2;
        }
    }
    @media only screen and (min-width:$screen-tablet){
        .home_banner{
            &_action{
                display:flex;
            }
        }
    }

}
