
@import '../../utility//theme/style/theme.scss'; 
.login{
    display:flex;
    margin:2em 3em;
    justify-content: space-evenly;
    text-align: left;
    &__desc{
        padding-top: 3em;
        span{
            font-size:1em;
        }
    }
    &__form{
        width:40%;
     
    }
    @media only screen and (max-width:$screen-tablet){
        &__desc{
            display:none;
        }
        &__form{
            width:100%;
        }
    }
}