@import '../../../theme/style/theme.scss';

.product_item{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-evenly;
    align-items: flex-start;
    padding:0.4em 0;
    border-bottom : dashed 0.2em $color-grey-1;
    &_info{
        display:flex;
        justify-content: space-between;
    }
    &_image{
        width:50%;
    }
    &_content{
        display:flex;
        flex-direction:column;
        justify-content : space-between;
        padding-left: 0.5em;
    }
    &_desc{
        background: $color-grey-1;
        text-align: left;
        padding: 0.4em;
        height:35vw;
        text-overflow: clip;
        overflow: hidden;
    }
    .product_item_btn{
            background: $color-pink-2;
            color:$color-white-1;
            align-self: stretch;
    }
    &_title{
        min-height:5vw;
        font-size:1rem;
        text-align:left;
    }
    @media only screen and (min-width:$screen-tablet){
        width:49%;
        &:nth-child(odd){
            margin-right: 0.5em;
        }
        &:nth-child(even){
            padding-left: 0.5em;
        }
        &_desc{
           height:25vw;
           
            
        }
        
    }

    @media only screen and (min-width:$screen-laptop){
        &_title{
            min-height:3vw;
            font-size:1.2em;
        }
        
    }
    @media only screen and (min-width:$screen-desktop){
        width:23%;
        margin-right:0.5vw;
        padding:0.3em;
        &_desc{
           height:5vw;
            
        }
        &_image{
            width:100%;
        }
        &_info{
            flex-direction: column;
        }
        &_title{
            min-height:9.2vw;
            font-size:1.2em;
        }
        
    }
  
  
   
   

}
