@import '../../../theme/style/theme.scss';

.product_item{
    display:flex;
    flex-direction: column;
    padding:0.4em 0;
    width:100%;
    border-bottom : dashed 0.2em $color-grey-1;
    &_info{
        display:flex;
        justify-content: space-between;
    }
    &_image{
        width:50%;
    }
    &_content{
        display:flex;
        flex-direction:column;
        justify-content : space-between;
        padding-left: 0.5em;
    }
    &_desc{
        background: $color-grey-1;
        text-align: left;
        padding: 0.4em;
        height:35vw;
        text-overflow: clip;
        overflow: hidden;
   
    }
    .product_item_btn{
            background: $color-pink-2;
            color:$color-white-1;
            align-self: stretch;
    }
    &_title{
        font-size:1rem;
        text-align:left;
    }
    @media only screen and (min-width:$screen-tablet){
        width:49%;
        max-height:42vw;
        &_desc{
           height:25vw;
           
            
        }
        &_title{
            min-height:7.2vw;
        }
        
    }

    @media only screen and (min-width:$screen-laptop){
        max-height: 40vw;
        &_title{
            font-size:1em;
            min-height:5vw;
        }
        
    }
    @media only screen and (min-width:$screen-desktop){
        width:24%;
        padding: 1em;
        max-height:35vw;
        &_desc{
           height:5vw;
           margin-top: 0.4em;
           font-size:0.7em;
            
        }
        &_image{
            width:100%;
        }
        &_info{
            flex-direction: column;
        }
        &_title{
            font-size:1em;
            min-height:8vw;
        }
        
    }
  
  
   
   

}
