@import '../../../theme/style/theme.scss';
.cart_item{
    display:flex;
    padding: 0.2em;
    background:$color-white-1;
    text-align: left;
    &_image{
        width:20%;
    }
    &--medium{
        font-size:1.4em;
    }
    &_info{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0.3em;

    }
    &_quantity{
        display:flex;
        span{
            font-size: medium;
            padding: 0.5em;;
        }
        span:last-child{
            margin-left: auto;
            margin-right: 1.5em;
       }

    }
    &_btn{
        background-color: $color-pink-2;
        border-radius: 0.4em;
        padding: 0 0.5em;
        align-self: center;
        color:$color-white-1;
        font-size: 1.2em;
    
    }
    @media only screen and (min-width:$screen-tablet){
        &_image{
            width:10%;
        }
         
     }
    @media only screen and (min-width:$screen-laptop){
        &_image {
            width: 20%;
        }
       &_btn{
            font-size: medium;
       }
       &--medium{
           font-size: medium;
       }
        
    }
}