@import '../../../theme/style/theme.scss';
.cart__item{
    display:flex;
    padding: 0.2rem;
    background:$color-white-1;
    text-align: left;
    &__image{
        width:20%;
    }
    &__info{
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 0.3em;

    }
    &__title{
        font-size: 1.1rem;
        font-weight: bold;
    }
    &__quantity{
        display:flex;
        font-size: 1.1rem;
        span{
            padding: 0.5em;;
        }
        span:last-child{
            margin-left: auto;
            margin-right: 1.5rem;
       }

    }
    &__btn{
        background-color: $color-pink-2;
        border-radius: 0.4rem;
        padding: 0 0.5rem;
        align-self: center;
        color:$color-white-1;
        font-size: 1rem;
    
    }
    @media only screen and (min-width:$screen-tablet){
        &__image{
            width:10%;
        }
         
     }
    @media only screen and (min-width:$screen-laptop){
        &__image {
            width: 20%;
        }
       &__btn{
            font-size: 1.1rem;
       }       
    }
}